@model Resume.Models.Entity.tblsosyalmedya
@{
    ViewBag.Title = "Getir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Sosyal Medya Güncelleme Sayfası</h4>
<br />
<form class="form-group" method="post">

    @Html.Label("Sosyal Medya Adı : ")
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })<br />

    @Html.Label("Link : ")
    @Html.TextBoxFor(x => x.link, new { @class = "form-control" })
    <br />

    @Html.Label("İkon : ")
    @Html.TextBoxFor(x => x.icon, new { @class = "form-control" })
    <br />
    <button class="btn-success">Yetenek Güncelle</button>
</form>


