@using Resume.Models.Entity
@model List<tblyetenekler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string renk = ""; }
@{string labelrenk = ""; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Simple Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listesi</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/Yetenek/YetenekEkle/" class="btn btn-info">Yeni Yetenek Ekle</a><br /><br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.oran >= 0 && item.oran <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                                labelrenk = "progress-bar bg-danger";

                                            }
                                            if (item.oran >= 51 && item.oran <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                labelrenk = "progress-bar bg-warning";
                                            }
                                            if (item.oran >= 71 && item.oran <= 85)
                                            {
                                                renk = "progress-bar bg-primary";
                                                labelrenk = "progress-bar bg-primary";
                                            }
                                            if (item.oran >= 86 && item.oran <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                                labelrenk = "progress-bar bg-success";
                                            }

                                            <tr>
                                                <td>@item.id</td>
                                                <td>@item.yetenek</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width:@item.oran%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@labelrenk">@item.oran%</span></td>                                               
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/Yetenek/YetenekGetir/@item.id">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/Yetenek/YetenekSil/@item.id">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>


